<p style="color: green"><%= notice %></p>
# this is  the details page
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_shark_post_path(@shark, @post) %> |
  <%= link_to "Back to posts", shark_posts_path(@shark) %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
